/* Lists of stories */

.stories-list {
  margin: 20px 5px;
  list-style-type: none;
  
}

.stories-list > ul {
  padding: 0;
  margin: 0;
}

.stories-list > li {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin: 5px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: #ffa970;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
  color: #ffd9c0;
  
  
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

.post-icons {
  position: absolute;
  transform: translateX(-100px)
  
  
  /* padding: 0px;
  margin-right: 20px;
  margin-left: 0;
  margin-bottom: 20px; */
  
}

.post-icons button{
  /* position: absolute; */
  float: right;
  width: 100px;
  background-color: rgb(117, 117, 117);
  border: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  
  /* padding: 0px;
  margin-right: 20px;
  margin-left: 0;
  margin-bottom: 20px; */
  
}

.post-icons button:hover{
  /* position: absolute; */
  
  background-color: rgb(134, 134, 134);
  transform: scale(110%);

  color: rgb(255, 255, 255);
  
  
}

.post-options {
  float: left;
  background: none;
  color: rgb(155, 155, 155);
  border: none;
  margin-bottom: 20px;
  padding: 10px;
  font-size: large;
}






